@using ProniaAB101.ViewModels;
@{
    ViewData["Title"] = "Slider - Create";
}
@model CreateBrandVM
<div class="container">
    <div class="card p-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" accept="image/*" class="form-control">
                <span asp-validation-for="Image" class="text-danger"></span>
            <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

