@{
    ViewData["Title"] = "Banner - Index";
}
@model IEnumerable<Brand>
<div class="container">
    <a class="btn btn-primary my-3" asp-action="Create">Create</a>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageUrl</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><img src="~/assets/images/@item.ImageUrl"/></td>
                    <td><a asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                    <td><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

